---
---

@import "{{ site.theme }}";
.project-name {
    @include large {
        font-size: 2.75rem;
    }

    @include medium {
        font-size: 2.25rem;
    }

    @include small {
        font-size: 1.75rem;
    }
}
.page-header {
    @include large {
        padding: 1rem 4rem;
    }

    @include medium {
        padding: 1rem 4rem;
    }

    @include small {
        padding: 1rem 1rem;
    }
}